
html, body{
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-size: cover;
}
nav{
  top: 0;
  position: fixed;
  background-color: white;
  z-index: 50;
  width: 100%;
  border-bottom: 5.5px solid red;
  border-style: outset;
}
nav li{
  display: inline-block;
  vertical-align: middle;
}
nav #menu{
display: none;
}

#logo-header{
  height: 7vh;
}
#phone{
  display: inline-block;
  margin-left: 1.5vw;
  font-size: 1.75vh;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid;
  border-style: ridge;
  border-radius: 1px;
  background-color: red;
  color: white;
  padding: .25vw
}
.nav-items{
  font-size: 1.5vh;
  display: inline-block;
  margin-left: 3vw;
  font-family: 'Open Sans', sans-serif;
  color: red;
}
.nav-items:hover{
  color: black
}
.home-wrapper{
  margin-top: 8vh;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-image: url(img/interior.jpg);
  background-size: cover;
  border-bottom: 3px solid red;
  border-style: groove;
}
#interior{
  height: auto;
  width: 100%;
  display: block;
  margin: 0 auto;
  z-index:1;
  background-size: cover;
}
#home-txt{
  position: absolute;
  color: white;
  font-size: 7vh;
  text-align: center;
  top: 15vh;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px red;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}
.book-wrapper{
  position: absolute;
  display: block;
  margin: 0 auto;
  text-align: center;
  bottom: 5%;
  width: 100%;
  z-index: 2;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 2vh;
}
#home-book{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#home-phone{
  color: red;
  text-decoration: none;
  font-family: 'Open Sans' sans-serif;
  border: 2px solid red;
  border-style: outset;
  background-color: white;
  padding: .5vw;

}
#home-email{
  position: relative;
  bottom: -3vh;
  color: red;
  text-decoration: none;
  font-family: 'Open Sans' sans-serif;
  border: 2px solid red;
  border-style: outset;
  background-color: white;
  padding: .8vh 2.6vw;
}
.homesocial{
  background:rgba(255,255,255, 0.6);
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.homesocial img{
  text-align: center;
  margin: 1.5vw;
}
.wallpaper{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("img/black-diamond-plate.jpg");
  background-size: cover;:
}

.about-content{
  width: 40%;
  display: block;
  margin: 0 auto;
  border: 5px solid #808080;
  border-bottom: none;
  border-style: inset;
  margin-bottom: 3vh;
  margin-top: 3vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/high-resolution-scrap-metal-background.jpg");
  background-size: cover;
  text-align: center;
}

#about-text{
  font-family: 'Titillium Web', sans-serif;
  width: 90%;
  margin: 0 auto;
  color: white;
  font-weight: bold;
}
#garret{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1vw;
  font-style: italic;
  text-align: center;
  color: red;
}
#shine-shop{
  width: 15vw;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2vh;
}
#owner{
  font-family: 'Open Sans', sans-serif;
  color: red;
  font-size: .70vw;
  text-align: center;
}

.portfolio-wrapper{
  width: 100%;
  height: auto;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/details/traffic-car-vehicle-black.jpg);
  background-size: cover;
  border-top: 3px solid red;
  border-style: groove;

}
#portfolio-header{
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 4vw;
  width: 100%;
  text-shadow: 2px 2px 10px red;
  text-align: center;
}
.container {
  height: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 5vh;
}
.container div {
  height: auto;
  background-color: white;
  display: inline-block;
  display: none;
  border: 3px solid white;
  border-style: outset;
  background-color: black;
}
.container img {
  max-width: 750px;
  max-height: 555px;
  z-index: 5
}
#arrow{
  display: flex;
}
.forward, .back{
  text-align:  inherit;
  display: inline-block;
  margin: 0 auto;
  display: flex;
  bottom: 40vh;
}

#pricing-header{
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 4vw;
  width: 100%;
  text-shadow: 2px 2px 10px red;
  text-align: center;
}
.pricing-wrapper{
  width: 100%;
  text-align: center;
  background-color: #1C2833;
  padding-top: 3vh;
  border-style: groove;
}
#pricing-table{
  background: transparent;
  padding: 15px;
}
.b1, .b2, .b3, .b4{
    display:inline-block;
    position: static;
    margin: 2vw;
    width: 20%;
    text-align: center;
    height: 100%;
    background-color: lightgrey;
    overflow: hidden;
    border: 5px solid #808080;
    border-style: outset;
    background-color: black;
    vertical-align: top;
}
.price-header{
  width: 100%;
  background:rgba(255,255,255, 0.3);
}
span{
  color: red;
}
.service, .detail{
  width: 100%;
  display: inline;
  font-size: 1.5vw;
  font-family: 'Titillium Web', sans-serif;
}
.service{
  color: white;
  font-size: 1.5vw;
}
.detail{
  width: 100%;
  color: #FFC300;
}
.info{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  display: block;
  margin-left: 5vw;
  line-height: 100%;
  position: relative;
  text-align: left;
}
.interior{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  display: block;
  margin-left: 1vw;
  margin-right: 1vw;
  line-height: 100%;
  position: relative;
  text-align: left;
}
.full{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  display: block;
  text-align: center;
  line-height: 100%;
  position: relative;
}
.add{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  display: block;
  text-align: center;
  line-height: 120%;
  position: relative;
  margin: 1vw;
}
.price{
  color: red;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5vw;
  background:rgba(255,255,255, 1);
  width: 100%;
}
.etc{
  color: white;
  font-size: .6vw;
  margin: 1vw;
  font-family: 'Open Sans', sans-serif;
}
footer{
  display: inline;

}
.social-wrapper{
  width: 100%;
  height: auto;
}
.socialdiv{
  margin-top: .5vh;
  text-align: center;
}
.socialdiv img{
  margin-left: 4vw;
}
#social-email img{
  height: 7vh;
}
#social-phone img{
  height: 7vh;

}
#social-phone img{
  height: 7vh;
}
#social-fb img{
  height: 7vh;
}

.copyright{
  text-align: center;
  color: red;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}
