
html, body{
  margin: 0;
  padding: 0;
  min-width: 100%;
}
nav{
  top: 0;
  position: fixed;
  background-color: white;
  z-index: 50;
  width: 100%;
  border-bottom: 3px solid red;
  border-style: groove;
}
nav li{
  display: inline-block;
  vertical-align: middle;
}

#logo-header{
  height: 7vh;
}
#phone{
  display: inline-block;
  margin-left: 1.5vw;
  font-size: 1.75vh;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid;
  border-style: ridge;
  border-radius: 1px;
  background-color: red;
  color: white;
  padding: .25vw
}
.nav-items{
  font-size: 1.5vh;
  display: inline-block;
  margin-left: 3vw;
  font-family: 'Open Sans', sans-serif;
  color: red;
}
.nav-items:hover{
  color: black
}
.home-wrapper{
  position: relative;
  background-color: black;
  width: 100%;
  overflow: hidden;
  border-top: 5px solid red;
}
#interior{
  height: 80vh;
  display: block;
  margin: 0 auto;
}
#home-txt{
  position: absolute;
  color: white;
  font-size: 7vh;
  text-align: center;
  top: 20vh;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}
.book-wrapper{
  position: absolute;
  display: block;
  margin: 0 auto;
  text-align: center;
  bottom: 10vh;
  width: 100%;
  z-index: 2;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 2vh;
}
#home-book{
  text-shadow: 0 0 10px #FF0000;
}
#home-phone{
  color: red;
  text-decoration: none;
  font-family: 'Open Sans' sans-serif;
  border: 2px solid red;
  border-style: outset;
  background-color: white;
  padding: .5vw;

}
#home-email{
  position: relative;
  bottom: -3vh;
  color: red;
  text-decoration: none;
  font-family: 'Open Sans' sans-serif;
  border: 2px solid red;
  border-style: outset;
  background-color: white;
  padding: .5vh 3.5vw;
}

.about-wrapper{
  width: 100%;
  text-align: center;
  background-image: url(img/metal.jpg);
  background-size: cover;
  padding-top: 2vh;
  border-top: 3px solid red;
  border-style: groove;

}
.about-content{
  width: 50%;
  display: block;
  margin: 0 auto;
  border: 5px solid #808080;
  border-style: inset;
  margin-bottom: 5vh;
  margin-top: 5vh;
  background-color: #C0C0C0;

}
#about{
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 1vh;
  vertical-align: middle;
  font-size: 4vh;
  color: red;
  text-shadow: 2px 2px 10px white;
}
#about-text{
  font-family: 'Titillium Web', sans-serif;
  width: 90%;
  margin: 0 auto;
}
#garret{
  font-family: 'Titillium Web', sans-serif;
  font-size: 2vw;
  font-style: italic;
}
#owner{
  font-family: 'Open Sans', sans-serif;

  color: red;
  font-size: 1vw;
  font-weight: bolder;
  text-decoration: underline;:
}
