@media only screen and (max-width: 650px) {
  html{
    width: auto;
  }
  main{
    width: auto;
  }
  .wallpaper{
    width: auto;
  }
  nav{
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 50;
    width: 100%;
    border-bottom: 5.5px solid red;
    border-style: outset;
    text-align: center;
  }

  nav li{
    width: 100%;
    display: inline;
    vertical-align: middle;
    text-align: center;
  }

.nav-items{
    display: inline;
    text-align: center;
    word-spacing: 100%;
    margin: 2vw;
    font-size: 1.7vh;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
  }

 #phone{
   display: none;
  }

  #logo-header{
    height: 10vh;
    display: block;
    margin: 0 auto;
  }
  .home-wrapper{
    margin-top: 9vh;
    width: auto;
    height: 100vh;
    border-bottom: 3px solid red;
    border-style: groove;
    background-image: url("../img/interior.jpg");
    background-repeat: no-repeat;
  }
  #home-txt{
    position: absolute;
    color: white;
    font-size: 5vh;
    text-align: center;
    top: 20vh;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px red;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
  }
  .book-wrapper{
    position: absolute;
    display: block;
    margin: 0 auto;
    text-align: center;
    bottom: 20vh;
    width: 100%;
    z-index: 2;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 2vh;
  }
  #home-book{
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  .homesocial{
    background:rgba(255,255,255, 0.6);
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .wallpaper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/black-diamond-plate.jpg");
    background-size: cover;:
  }
  .about-content{
    width: 90%;
    display: block;
    margin: 0 auto;
    border: 5px solid #808080;
    border-bottom: none;
    border-style: inset;
    margin-bottom: 3vh;
    margin-top: 3vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/metal-bg.jpg");
    background-size: cover;
    text-align: center;
  }
  #home-phone{
    color: red;
    text-decoration: none;
    font-family: 'Open Sans' sans-serif;
    border: 2px solid red;
    border-style: outset;
    background-color: white;
    padding: .5vw;

  }
  #home-email{
    position: relative;
    bottom: -3vh;
    color: red;
    text-decoration: none;
    font-family: 'Open Sans' sans-serif;
    border: 2px solid red;
    border-style: outset;
    background-color: white;
    padding: .8vh 2.6vw;
  }
  .homesocial{
    background:rgba(255,255,255, 0.6);
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .homesocial img{
    text-align: center;
    margin: 1.5vw;
  }
  #garret{
    font-family: 'Titillium Web', sans-serif;
    font-size: 4vw;
    font-style: italic;
    text-align: center;
    color: red;
  }
  #owner{
    font-family: 'Open Sans', sans-serif;
    color: red;
    font-size: 2vw;
  }
  #shine-shop{
    width: 50vw;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2vh;
  }
  #pricing-header{
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 10vw;
    width: 100%;
    text-shadow: 2px 2px 10px red;
    text-align: center;
  }
  .pricing-wrapper{
    width: 100%;
    text-align: center;
    background-color: #1C2833;
    padding-top: 2vh;
    border-style: groove;
    margin: 0 auto;
    display: block;
  }
  .b1, .b2, .b3, .b4{
      display: block;
      position: static;
      margin: 0 auto;
      margin-bottom: 3vh;
      width: 90%;
      text-align: center;
      height: 100%;
      background-color: lightgrey;
      overflow: hidden;
      border: 5px solid #808080;
      border-style: outset;
      background-color: black;
      vertical-align: top;
  }
  .service, .detail{
    width: 100%;
    display: inline;
    font-size: 7vw;
    font-family: 'Titillium Web', sans-serif;
  }
  .etc{
    color: white;
    font-size: 3vw;
    margin: 1vw;
    font-family: 'Open Sans', sans-serif;
  }
  .price{
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 8vw;
    background:rgba(255,255,255, 1);
    width: 100%;
  }
  #portfolio-header{
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 10vw;
    width: 100%;
    text-shadow: 2px 2px 10px red;
    text-align: center;
  }
  .container {
    height: auto;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 5vh;
  }
  .container div {
    height: auto;
    background-color: white;
    display: inline-block;
    display: none;
    border: 3px solid white;
    border-style: outset;
    background-color: black;
  }
  .container img {
    max-width: 100%;
    max-height: 355px;
    z-index: 5
  }
  #arrow{
    display: flex;
  }
  .forward, .back{
    text-align:  inherit;
    display: inline-block;
    margin: 0 auto;
    display: flex;
    bottom: 40vh;
  }
}
